.table{
  display: block;
  right: 1rem;
  text-align: justify;
  font-size: 1rem;
  padding: 10px;
}

img{
  width: 80%;
}
/* HeroSearch private styles */
.search-result li {
  width: 195px;
  height: 16px;
  padding: 5px;
  list-style-type: none;
}

.search-result li:hover {
  background-color: #607D8B;
}

.search-result li a {
  color: #202020;
  display: block;
  text-decoration: none;
}

.search-result li a:hover {
  color: white;
}
.search-result li a:active {
  color: white;
}
#search-box {
  width: 100px;
  height: 20px;
}


ul.search-result {
  margin-top: 0;
  padding-left: 0;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
