<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar class="table">
  <button  mat-icon-button routerLink="">Pastry</button>
  <button  mat-button routerLink="/profile"> {{'PROFILE' | translate}} </button>
  <button mat-button routerLink=""  style="float:right"> Logout</button>
  <button  mat-button style="float:right" [matMenuTriggerFor]="menu">
    <mat-icon> <img src="/assets/img/language.png" class="">  </mat-icon> </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item  (click)="switchLanguage('en')">en</button>
    <button mat-menu-item  (click)="switchLanguage('ru')">ru</button>
  </mat-menu>
<span  id="search-component">
    <input #searchBox id="search-box" (input)="search(searchBox.value)" placeholder="Search">

    <ul class="search-result">
      <li *ngFor="let object of objects$ | async" >
        <a routerLink="/detail/{{object.id}}">
          {{object.name}}
        </a>
      </li>
    </ul>
</span>

</mat-toolbar>
