<app-navbar></app-navbar>
<div class="example-container mat-elevation-z10">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> {{'ID' | translate}} </th>
      <td mat-cell *matCellDef="let element" routerLink="/detail/{{element.id}}"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> {{'NAME' | translate}} </th>
      <td mat-cell *matCellDef="let element" routerLink="/detail/{{element.id}}"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> {{'CODE' | translate}}</th>
      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div>
  <button mat-raised-button color="primary" class="b2" routerLink="/add-object"> {{'ADD' | translate}} </button>
  <button mat-raised-button color="accent" class="b1" (click)="back()"> {{'BACK' | translate}} </button>
</div>



