<app-navbar></app-navbar>
<div style="overflow-x:auto;">
<table class="heroes">
  <thead>
  <tr class="stripy">
    <th> ID </th>
    <th ng-click="orderByMe('name')"> Name </th>
    <th ng-click="orderByMe('name')"> Date of Create </th>
    <th ng-click="orderByMe('name')"> Code </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let object of objects"
      (click)="onSelect(object)" routerLink="/detail/{{object.id}}" class="stripy">
    <td>{{object.id}}</td>
    <td>{{object.name}}</td>
    <td>{{object.createTime}}</td>
    <td>{{object.code}}</td>
  </tr>
  </tbody>
</table>
</div>
<div>
  <button mat-raised-button color="primary" class="b2" (click)="add()"> Add </button>
  <button mat-raised-button color="accent" class="b1" (click)="back()"> Back </button>
</div>

