<app-navbar></app-navbar>
<div class="container">
  <h2> Profile Details</h2>
  <p><span> Surname: </span> <input [(ngModel)]="profile.surname" placeholder="surname"> </p>
  <p> <span>Name: </span> {{profile.name}}</p>
  <p> <span> Patrononymic: </span>  {{profile.patronymic}}</p>
  <p><span> Position: </span> {{profile.position}}</p>
  <p><span> Subdivision: </span> {{profile.subdivision}} </p>
</div>
<div>
  <button mat-raised-button> Save </button>
  <button mat-raised-button routerLink="/profile" > Cancel </button>
</div>

