button{
  margin-top: 15px;
  margin-left: 5px;
}
div{
  margin-top: 15px;
  margin-left: 15px;

}
p {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-style: normal;
  font-size: 120%;
  font-weight: lighter;
}
h2 {
  font-weight: bolder;
}

.b2:hover {background-color: #8806a5}
.b3:hover {background-color: darkred}
